[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExPosition"]
	path = ExPosition
	url = https://github.com/derekbeaton/exposition1
	subdir = ExPosition
[submodule "prettyGraphs"]
	path = prettyGraphs
	url = https://github.com/derekbeaton/exposition1
	subdir = prettyGraphs
